<header id="header-container">
    <div class="container">
        <div class="row">
            <div class="col-5 columna">
                Hola
            </div>
            <div class="col-5 offset-2 columna">
                Mundo
            </div>
        </div>
    </div>
</header>
